{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>{{ movie.title }} - Attendance & Ratings</h2>
    <ul class="list-group mt-4">
        {% for attendee, rating in attendees_with_ratings %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>{{ attendee }}</span>
            {% if rating %}
            <span class="badge bg-primary rounded-pill">{{ rating }}/10</span>
            {% else %}
            <span class="badge bg-secondary rounded-pill">No Rating</span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('dashboard', user_name=user_name) }}" class="btn btn-primary mt-3">Back to Dashboard</a>
</div>
{% endblock %}