<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/css/vendor.bundle.base.css') }}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/jvectormap/jquery-jvectormap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/flag-icon-css/css/flag-icon.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/owl-carousel-2/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/owl-carousel-2/owl.theme.default.min.css') }}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/favicon.png') }}" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='assets/images/logo.svg') }}" alt="logo" style="filter: brightness(0) invert(1);" /></a>
          <a class="sidebar-brand brand-logo-mini" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='assets/images/logo-mini.svg') }}" alt="logo" style="filter: brightness(0) invert(1); height: 60px; width: 60px;" /></a>
          
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                  <div class="count-indicator">
                      <img class="img-xs rounded-circle" src="{{ url_for('static', filename='assets/images/sikh-circle.svg') }}" alt="">
                      <span class="count bg-success"></span>
                  </div>
                  <div class="profile-name">
                    <h5 class="mb-0 font-weight-normal">
                        {% if session.get('user_name') %}
                            {{ session['user_name'] }}
                        {% else %}
                            Guest
                        {% endif %}
                    </h5>
                    <span>Gold Member</span>
                </div>
              </div>
          </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Navigation</span>
        </li>
        
        <li class="nav-item menu-items">
          <a class="nav-link" href="{{ url_for('dashboard', user_name=session.get('user_name')) }}">
              <span class="menu-icon">
                  <i class="mdi mdi-view-dashboard"></i>
              </span>
              <span class="menu-title">Dashboard</span>
          </a>
      </li>

      <li class="nav-item menu-items">
        <a class="nav-link" href="{{ url_for('movies_page', user_name=session.get('user_name')) }}">
            <span class="menu-icon">
                <i class="mdi mdi-movie"></i>
            </span>
            <span class="menu-title">Movies</span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="{{ url_for('tv_shows', user_name=session.get('user_name')) }}">
            <span class="menu-icon">
                <i class="mdi mdi-television"></i>
            </span>
            <span class="menu-title">TV Shows</span>
        </a>
      </li>  
        <!-- Sidebar item for Admin Page -->
        <li class="nav-item menu-items">
          <a class="nav-link" href="{{ url_for('admin_page') }}" 
             {% if session.get('user_name') != "Suhail" or not session.get('user_name') %} style="display:none;" {% endif %}>
              <span class="menu-icon">
                  <i class="mdi mdi-settings"></i>
              </span>
              <span class="menu-title">Admin Page</span>
          </a>
      </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='assets/images/logo-mini.svg') }}" alt="logo" 
                     style="filter: brightness(0) invert(1); height: 60px; width: 60px;" />
            </a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize" style="display: block !important;">
              <span class="mdi mdi-menu" style="font-size: 1.8rem;"></span>
            </button>
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item nav-settings d-none d-lg-block">
                    <!-- Optional: Add content here if needed -->
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                        <div class="navbar-profile">
                            <img class="img-xs rounded-circle" src="{{ url_for('static', filename='assets/images/sikh-circle.svg') }}" alt="">
                            <p class="mb-0 d-none d-sm-block navbar-profile-name">
                                {% if session.get('user_name') %}
                                    {{ session['user_name'] }}
                                {% else %}
                                    Guest
                                {% endif %}
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                    {% block content %}{% endblock %}
            </div>
          </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{{ url_for('static', filename='assets/vendors/js/vendor.bundle.base.js') }}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{{ url_for('static', filename='assets/vendors/chart.js/Chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendors/progressbar.js/progressbar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendors/jvectormap/jquery-jvectormap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendors/owl-carousel-2/owl.carousel.min.js') }}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{{ url_for('static', filename='assets/js/off-canvas.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/hoverable-collapse.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/misc.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/settings.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/todolist.js') }}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{{ url_for('static', filename='assets/js/dashboard.js') }}"></script>
    <!-- End custom js for this page -->
  <script>
    document.addEventListener("DOMContentLoaded", function() {
        document.querySelector('.navbar-toggler').addEventListener('click', function() {
            document.getElementById('sidebar').classList.toggle('active');
        });
    });
</script>
</body>
</html>