{% extends 'base.html' %}

{% block content %}
<div class="content-wrapper">
    <h2>Manage Movie Ratings</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Movie Title</th>
                <th>User</th>
                <th>Rating</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
                <tr>
                    <td rowspan="{{ movie.ratings | length }}">{{ movie.title }}</td>
                    {% for rating in movie.ratings %}
                        {% if not loop.first %}<tr>{% endif %}
                        <td>{{ rating.user }}</td>
                        <td>
                            <form action="{{ url_for('update_rating') }}" method="POST" class="form-inline">
                                <input type="hidden" name="user_id" value="{{ rating.user_id }}">
                                <input type="hidden" name="movie_id" value="{{ movie.id }}">
                                <input type="number" name="new_rating" value="{{ rating.score }}" min="1" max="10" step="0.1" class="form-control" required>
                                <button type="submit" class="btn btn-primary btn-sm ml-2">Update</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}